<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Service -->
    <bean id="serviceLocator" class="com.github.ducknowledges.quiz.servicelocator.ServiceLocator"/>
    <bean id="ioService" factory-bean="serviceLocator" factory-method="createIoServiceInstance"/>
    <bean id="communicationService" class="com.github.ducknowledges.quiz.service.CommunicationServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>
    <bean id="quizService" class="com.github.ducknowledges.quiz.service.QuizServiceImpl">
        <constructor-arg name="communicationService" ref="communicationService"/>
    </bean>
    <bean id="quizManager" class="com.github.ducknowledges.quiz.service.QuizManagerServiceImpl">
        <constructor-arg name="quizDao" ref="quizDao"/>
        <constructor-arg name="quizService" ref="quizService"/>
    </bean>

    <!-- Reader -->
    <bean id="dataReader"
          class="com.github.ducknowledges.quiz.reader.DataReaderResource">
        <constructor-arg name="resourcePath" value="quiz.csv"/>
    </bean>

    <!-- Parser -->
    <bean id="recordChecker"
          class="com.github.ducknowledges.quiz.parser.recordchecker.RecordCheckerImpl">
    </bean>

    <bean id="dataParser" class="com.github.ducknowledges.quiz.parser.DataParserCsv">
        <constructor-arg name="dataReader" ref="dataReader"/>
        <constructor-arg name="recordChecker" ref="recordChecker"/>
        <constructor-arg name="communicationService" ref="communicationService"/>
    </bean>

    <!-- DAO -->
    <bean id="quizDao" class="com.github.ducknowledges.quiz.dao.QuizDaoImpl">
        <constructor-arg name="dataParser" ref="dataParser"/>
    </bean>


</beans>
