<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parser" class="com.github.ducknowledges.quiz.parser.ParserCsv">
        <constructor-arg name="pathToCsvResource" value="quiz.csv"/>
    </bean>

    <bean id="quizDao" class="com.github.ducknowledges.quiz.dao.QuizDaoCsv">
        <constructor-arg name="parser" ref="parser"/>
    </bean>

    <bean id="quizService" class="com.github.ducknowledges.quiz.service.QuizServiceImpl">
        <constructor-arg name="quizDao" ref="quizDao"/>
    </bean>

</beans>
