<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'home')}">

  <body>

    <p class="text-center fs-1">Welcome to Bookstore!</p>
    <p class="text-center">
      <img src="/images/favicon_io/statistics-192x192.png" alt="Statistics" width="96" height="96">
    </p>
    <p class="text-center fs-3">Book counter: <span th:text="${bookCounter}">100</span></p>
    <p class="text-center fs-3">Author counter: <span th:text="${authorCounter}">100</span></p>
    <p class="text-center fs-3">Genre counter: <span th:text="${genreCounter}">100</span></p>

  </body>

</html>